* {
      font-size: 18px;
}

.player-form {
      margin-bottom: 10px;
}

.score {
width: 30px;
}


button {
      background-color: #1a1a1a;
      color:white;
      padding: 15px;
      border-radius: 5px;
}
      
