/* General */
* {
      font-size: 18px;
}
h1 {
      font-size: 32px;
}

/* Player Form */
.player-form > input, button {
      margin-bottom: 10px;
      height: 40px;
}
.player-form > button:hover {
      cursor: pointer;
}

.player-form > .score {
width: 50px;
}

button {
      background-color: #1a1a1a;
      color:white;
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 5px;
}

/* Remove arrows in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}      
